<h1><%= @title %></h1>
 
<p>Elit impedit ullam ratione accusantium fugit dignissimos. Quia tempora dicta
assumenda iusto labore. Maxime dolorum impedit ratione quisquam maiores expedita.
Quisquam fuga aut nisi reiciendis perspiciatis harum! Temporibus ullam nemo.</p>
